body{
	background: #EEEEEE !important;
}

.bottom_div{
	width: 96%;
	height: auto;
	background: white;
	margin-left: 2%;
	margin-top: 10px;
	overflow: hidden;
}

.li_commodites_div{
	width: 100%;
	height: auto;
	overflow: hidden;
}

.commodities_number_tag{
	display: block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	margin-left: 2%;
	text-align: left;
	font-size: 16px;
	margin-top: 5px;
	border-bottom: solid #EEEEEE 1px;
}

.user_div{
	width: 100%;
	height: auto;
	overflow: hidden !important;
	padding: 0 !important;
}

.user_div a{
	display: block;
	width: 48%;
	height: 35px;
	line-height: 35px;
	text-align: left;
	float: left;
	margin-left: 2%;
}

.make_div{
	width: 100%;
	height: 30px;
	background: white;
}

.make_button{
	display: block;
	height: 30px;
	width: 30%;
	line-height: 30px;
}
