body{
	background: #EEEEEE !important;
}

.order_in_progress_ul{
	width: 100%;
	height: auto;
	overflow: hidden !important;
	padding: 0 !important;
}

.order_li{
	width: 97% !important;
	height: auto !important;
	list-style: none !important;
	text-align: center !important;
	cursor: pointer !important;
	overflow: hidden !important;
	background: white !important;
	margin-top: 10px;
	margin-left: 1.5%;
	border: solid #EEEEEE 1px;
	border-radius: 3px;
}

.li_top_div{
	width: 100%;
	height: 45px;
	background: #FAFAFA;
	border-bottom: solid #EEEEEE 1px;
	overflow: hidden;
}

.li_top_day_tag{
	display: block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin-top: 5px;
	background: #0091EA;
	margin-left: 2%;
	color: white;
	font-size: 16px;
	float: left;
}

.li_order_no_tag{
	display: block;
	width: auto;
	max-width: 70%;
	height: 35px;
	line-height: 35px;
	margin-top: 5px;
	text-align: left;
	margin-left: 10px;
	float: left;
	font-size: 16px;
	color: #808080;
}

.commodities_number_tag{
	display: block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	margin-left: 2%;
	text-align: left;
	font-size: 16px;
	margin-top: 5px;
}

.commodities_ul{
	width: 100%;
	height: auto;
	overflow: hidden !important;
	padding: 0 !important;
}

.commodities_ul li{
	width: 96% !important;
	height: 35px !important;
	list-style: none !important;
	text-align: center !important;
	cursor: pointer !important;
	overflow: hidden !important;
	background: white !important;
	border-bottom: solid #EEEEEE 1px;
	margin-left: 2%;
}

.commodity_name_tag{
	display: block;
	width: 70%;
	height: 35px;
	line-height: 35px;
	text-align: left;
	float: left;
}

.commodity_number_tag{
	display: block;
	width: 10%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	float: left;
}

.price_tag{
	display: block;
	width: 20%;
	height: 35px;
	line-height: 35px;
	text-align: right;
	float: right;
}

.li_bottom_div{
	width: 100%;
	height: 35px;
	background: #FAFAFA;
	border-bottom: solid #EEEEEE 1px;
	overflow: hidden;
}

.line_order_time{
	display: block;
	width: 44%;
	height: 35px;
	line-height: 35px;
	text-align: left;
	margin-left: 2%;
	font-size: 14px;
	color: #808080;
	float: left;
}

.order_price_tag{
	display: block;
	width: 44%;
	height: 35px;
	line-height: 35px;
	text-align: right;
	margin-right: 2%;
	font-size: 17px;
	color: #0091EA;
	float: right;
}


.user_div{
	width: 100%;
	height: auto;
	overflow: hidden !important;
	padding: 0 !important;
	border-top: solid #EEEEEE 1px;
}

.user_div a{
	display: block;
	width: 48%;
	height: 35px;
	line-height: 35px;
	text-align: left;
	float: left;
	margin-left: 2%;
	overflow: hidden;
}

.top_people_static_tag{
	display: block;
	width: 48%;
	height: 15px;
	line-height: 15px;
	margin-left: 2%;
	/*background: red;*/
	margin-top: 10px;
	font-size: 13px;
	color: #808080;
	float: left;
	text-align: left;
}

.top_number_static_tag{
	display: block;
	width: 48%;
	height: 15px;
	line-height: 15px;
	/*background: red;*/
	margin-top: 10px;
	font-size: 13px;
	color: #808080;
	float: left;
	text-align: right;
}