.top_div{
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 15px;
    text-align: right;
    margin-bottom: 20px;
}

.add_course_ul{
    width: 80%;
    height: auto;
    margin-left: 10%;
}

.add_course_ul li{
    width: 100%;
    height: auto;
    list-style: none;
    text-align: center;
    background: white;
    cursor: pointer;
    overflow: hidden;
    margin-top: 10px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #DCDCDC;
}

.title_tag{
    display: block;
    width: auto;
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 18px;
    color: #008B8B;
    margin-right: 10px;
    float: left;
}

.layui-input{
    display: block;
    width: 100px;
    float: left;
    height: 30px;
    line-height: 30px;
}

.content_tip{
    display: block;
    width: auto;
    height:30px;
    line-height: 30px;
    font-size: 16px;
    float: left;
    color: #575757;
    margin-left: 10px;
    margin-right: 10px;
}