<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.dao.UserOpenCardsMapper" >
    <resultMap id="BaseResultMap" type="com.springmvc.entity.UserOpenCards" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="user_id" jdbcType="INTEGER" />
        <result column="card_type_id" property="card_type_id" jdbcType="INTEGER" />
        <result column="card_no" property="card_no" jdbcType="VARCHAR" />
        <result column="open_card_date" property="open_card_date" jdbcType="TIMESTAMP" />
        <result column="term_validity" property="term_validity" jdbcType="TIMESTAMP" />
        <result column="user_type" property="user_type" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List_APP" >
        id,user_id,card_type_id,card_no,open_card_date,term_validity
    </sql>

    <!--新增记录-->
    <insert id="addRecord" parameterType="com.springmvc.entity.UserOpenCards" useGeneratedKeys="true" keyProperty="id">
        INSERT  INTO user_open_cards(user_id,card_type_id,card_no,open_card_date,term_validity,user_type)
        VALUES (#{user_id,jdbcType=INTEGER},#{card_type_id,jdbcType=INTEGER},#{card_no,jdbcType=VARCHAR},#{open_card_date,jdbcType=TIMESTAMP}
        ,#{term_validity,jdbcType=TIMESTAMP},#{user_type,jdbcType=INTEGER})
    </insert>

    <!--通过用户ID查询记录-->
    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT
        *
        FROM user_open_cards
        where user_id = #{param1,jdbcType=INTEGER}
    </select>

    <!--查询所有记录-->
    <select id="selectAllRecord" resultType="java.util.HashMap">
        SELECT
        *
        FROM user_open_cards order by CAST(user_open_cards.card_no AS DECIMAL) DESC
    </select>

    <!--根据用户id更新有效期-->
    <insert id="updateTermByUserId" parameterType="com.springmvc.entity.UserOpenCards">
        UPDATE user_open_cards
        SET term_validity = #{param1,jdbcType=TIMESTAMP}
        WHERE user_id = #{param2,jdbcType=INTEGER}
    </insert>



</mapper>