<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.dao.WithdrawSettingMapper" >

    <!--根据类型查询提现信息-->
    <select id="selectByType" parameterType="int" resultType="com.springmvc.entity.WithdrawSetting">
        SELECT *,
            date_format(withdraw_start_time,'%Y-%m-%d') AS withdraw_start_time_str,
            date_format(withdraw_end_time,'%Y-%m-%d')   AS withdraw_end_time_str
        FROM withdraw_setting WHERE type = #{type}
    </select>

    <!--更新提现设置-->
    <update id="adminUpdateWithdrawSetting" parameterType="com.springmvc.entity.WithdrawSetting" >
        UPDATE withdraw_setting SET
            service_charge_proportion = #{service_charge_proportion},
            is_any_time               = #{is_any_time},
            withdraw_start_time       = #{withdraw_start_time},
            withdraw_end_time         = #{withdraw_end_time},
            withdraw_proportion       = #{withdraw_proportion},
            min_number                = #{min_number},
            get_time                  = #{get_time}
        WHERE type = #{type}
    </update>

    <!--新增提现设置-->
    <insert id="adminInsertWithdrawSetting" parameterType="com.springmvc.entity.WithdrawSetting">
        INSERT INTO withdraw_setting
        (service_charge_proportion, is_any_time, withdraw_start_time, withdraw_end_time, type,withdraw_proportion,min_number,get_time)
        VALUES
        (#{service_charge_proportion},#{is_any_time},#{withdraw_start_time},#{withdraw_end_time},#{type},#{withdraw_proportion},#{min_number},#{get_time})
    </insert>

</mapper>