<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.dao.WnkSendIntegralDetailUserMapper" >
    <resultMap id="BaseResultMap" type="com.springmvc.entity.WnkSendIntegralDetailUser" >
        <id     column="id"          property="id"          jdbcType="INTEGER" />
        <result column="name"     property="name"     jdbcType="VARCHAR" />
        <result column="income_date" property="income_date" jdbcType="TIMESTAMP" />
        <result column="income_amount"    property="income_amount"    jdbcType="DOUBLE" />
        <result column="user_id"    property="user_id"    jdbcType="INTEGER" />
        <result column="type"    property="type"    jdbcType="INTEGER" />
        <result column="business_id"    property="business_id"    jdbcType="INTEGER" />
    </resultMap>

    <sql id="all">
        id,name,income_date,income_amount,user_id,type,business_id
    </sql>
    <insert id="addIntegralRecord" parameterType="map">
        INSERT INTO wnk_send_integral_detail_user
        (name, income_date, income_amount, user_id, type, business_id)
        VALUES
        (
        #{name,jdbcType=VARCHAR},
        NOW(),
        #{income_amount,jdbcType=DOUBLE},
        #{user_id,jdbcType=INTEGER},
        #{type,jdbcType=INTEGER},
        #{business_id,jdbcType=INTEGER}
        );
    </insert>

    <select id="getIntegralCountById" parameterType="int" resultType="map">
        SELECT
        id,
        name,
        DATE_FORMAT(income_date,'%Y-%m-%d %H:%i:%s') AS income_date,
        income_amount,
        user_id,
        type,
        business_id
        FROM wnk_send_integral_detail_user
        WHERE business_id=#{business_id} AND user_id=#{user_id} ORDER BY income_date DESC
    </select>

    <!--获取用户在商家处的积分明细(区分收入与支出)-->
    <select id="getIntegralCountByIdAndType" parameterType="int" resultType="map">
        SELECT
        id,
        name,
        DATE_FORMAT(income_date,'%Y-%m-%d %H:%i:%s') AS income_date,
        income_amount,
        user_id,
        type,
        business_id
        FROM wnk_send_integral_detail_user
        WHERE business_id=#{business_id} AND user_id=#{user_id} and type=#{type} ORDER BY income_date DESC
    </select>



</mapper>